body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

    /* Heading */

.header--main {
    font-size: 50px;
    font-weight: normal;
}

.header--secondary {
    font-weight: normal;
    font-weight: 300;
    font-size: 42px;
}

.subtitle-for-sec-header {
    font-size: 21px;
    color: gray;
}

        /* Links */
a {
    color: aquamarine;
    font-size: 16px;
    
}

 /* Footer */

.footer-c {
    text-align: right;
    color: gray;
}